$color-181818: #181818;
$color-555555: #555555;
$color-Brand: #409eff;
$color-Brand-rgba: 64, 158, 255;
$color-Danger: #f56c6c;
$color-Danger-rgba: 245, 108, 108;
$color-Success: #67c23a;
$color-Info: #909399;
$color-MainText: #303133;
$color-RegularText: #606266;
$color-PlaceholderText: #c0c4cc;
$color-FFFFFF: #ffffff;
$color-e8e8e8: #e8e8e8;
$color-0093d4: #0093d4;
$color-F7F8FB: #f7f8fb;
$color-f9f9f9: #f9f9f9;
$color-e6e9ea: #e6e9ea;
$color-ececec: #ececec;
